
a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
    font-family: 'Saira Extra Condensed', sans-serif;

}

#wrap {
    background: #e7e7e7;
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;
}

.container{


}/* Footer links */
.container {
    width: 100%;
    text-align:center;
    position:relative;
    top:40%;
}
.social {
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}
.social img, .social h3 {
    width: 60%;
    margin-bottom:1.5em;
    line-height: 1em;
    margin-right: 15px;
}

.social:hover img:hover{
    margin-bottom:10%;
    transition-duration: 500ms;
}

#se{
    margin-right:1vw;
}

#dev{
    margin-left:1vw;
}
